@media (min-width: 1281px) {
.best2
{
overflow-y: scroll; /* Add the ability to scroll */
overflow-x: scroll;
}
#Web_1920__2
{
zoom:74%;
}
}
@media (min-width: 1025px) and (max-width: 1280px) {
.best2
{
overflow-y: scroll; /* Add the ability to scroll */
overflow-x: scroll;
}
#Web_1920__2
{
zoom:66%;
}
}
@media (min-width: 1281px) {
.best3
{
overflow-y: scroll; /* Add the ability to scroll */
overflow-x: scroll;
}
#Web_1920__3
{
zoom:74%;
}
}
@media (min-width: 1025px) and (max-width: 1280px) {
.best3
{
overflow-y: scroll; /* Add the ability to scroll */
overflow-x: scroll;
}
#Web_1920__3
{
zoom:66%;
}
}
@media (min-width: 1281px) {
.best4
{
overflow-y: scroll; /* Add the ability to scroll */
overflow-x: scroll;
}
#Web_1920__4
{
zoom:74%;
}
}
@media (min-width: 1025px) and (max-width: 1280px) {
.best4
{
overflow-y: scroll; /* Add the ability to scroll */
overflow-x: scroll;
}
#Web_1920__4
{
zoom:66%;
}
}
@media (min-width: 1281px) {
.best5
{
overflow-y: scroll; /* Add the ability to scroll */
overflow-x: scroll;
}
#Web_1920__5
{
zoom:74%;
}
}
@media (min-width: 1025px) and (max-width: 1280px) {
.best5
{
overflow-y: scroll; /* Add the ability to scroll */
overflow-x: scroll;
}
#Web_1920__5
{
zoom:66%;
}
}
@media (min-width: 1281px) {
.best6
{
overflow-y: scroll; /* Add the ability to scroll */
overflow-x: scroll;
}
#Web_1920__6
{
zoom:74%;
}
}
@media (min-width: 1025px) and (max-width: 1280px) {
.best6
{
overflow-y: scroll; /* Add the ability to scroll */
overflow-x: scroll;
}
#Web_1920__6
{
zoom:66%;
}
}
@media (min-width: 1281px) {
.best7
{
overflow-y: scroll; /* Add the ability to scroll */
overflow-x: scroll;
}
#Web_1920__7
{
zoom:74%;
}
}
@media (min-width: 1025px) and (max-width: 1280px) {
.best7
{
overflow-y: scroll; /* Add the ability to scroll */
overflow-x: scroll;
}
#Web_1920__7
{
zoom:66%;
}
}
@media (min-width: 1281px) {
.best10
{
overflow-y: scroll; /* Add the ability to scroll */
overflow-x: scroll;
}
#Web_1920__10
{
zoom:74%;
}
}
@media (min-width: 1025px) and (max-width: 1280px) {
.best10
{
overflow-y: scroll; /* Add the ability to scroll */
overflow-x: scroll;
}
#Web_1920__10
{
zoom:66%;
}
}
@media (min-width: 1281px) {
.best8
{
overflow-y: scroll; /* Add the ability to scroll */
overflow-x: scroll;
}
}
@media (min-width: 1025px) and (max-width: 1280px) {
.best8
{
overflow-y: scroll; /* Add the ability to scroll */
overflow-x: scroll;
}
#Web_1920__8
{
zoom:66%;
}
}
@media (min-width: 1281px) {
.best9
{
overflow-y: scroll; /* Add the ability to scroll */
overflow-x: scroll;
}
}
@media (min-width: 1025px) and (max-width: 1280px) {
.best9
{
overflow-y: scroll; /* Add the ability to scroll */
overflow-x: scroll;
}
#Web_1920__9
{
zoom:66%;
}
}

